<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Crusine About</title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/global.css">
        <link rel = "stylesheet" type="text/css" href="../public/css/about.css">
        <script src="../public/js/global.js"></script>
        <script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <!-- NAV BAR -->
        <a href="#home">
            <h1 id = "logo"><i class = "fas fa-car-side"></i>Cruisine</h1>
        </a>
        <div class = "nav_menu" id = "navMenu" name = "nM">
          <a href = "#browse"><b>Start Shopping</b></a>
          <a href = "#about" class = "active">ABOUT</a>
          <a href = "#faq">FAQ</a>
          <a href = "javascript:void(0);" class = "compass" id = "compass">
              <i class = "far fa-compass"></i>
          </a>
        </div>
        
        <!-- ABOUT PAGE -->
            <div class = "about">
                <div class = "about_crusine">
                    <h1 class = "title">WHAT IS CRUSINE?</h1>
                    <h2>-Insert Tagline Here-</h2>
                    <div>
                        <p>Nationwide, many college students have difficulty gaining access to a variety of healthy food options whilist attending classes at their universities. A couple of these limitations that students face are limited means of transportation, and rationing time to go grocery shopping between homework, sports obligations, or extracurricular activities. Some instituations that provide on-campus dining are expensive and do not provide healthy or desirable options for individuals wishing to follow a diet or have food allergy issues. In most recent events, COVID-19 has also greatly impacted the availability of diverse and nutritious food optionsdue to the newly enforced safety protocols. Thus, Platinum Inc. created Crusine, a non-contact way to order groceries and have it directly delivered from the store of your choosing to any college campus.
                        </p>
                        <p>Crusine is an online delivery service where users can log-in and build a shopping cart of items avaliable from any of our partner stores in their local area. Working similarly to Grubhub and Doordash, orders made are paid online after selecting their delivery location and a time window for delivery that can be convienent for the user. Behind the scenes, while the user can attend to other errands, our employees will shop for the items specified, package them, and transport them at the time window asked for pickup. This eliminates the time, resources, and energy the user would need to plan and use for each trip to the grocery store. Now at your fingertips, you can pick up your groceries from the safety of your campus!
                        </p>
                        <p>Ideally, if Crusine is proven successful when implemented witn college campuses, Platinum Inc. hopes to expand to a larger audience where grocery delivery services can be accessible to not only college students, but familires and the elderly as well.
                        </p>
                    </div>
                </div>
                <div class = "about_platinum">
                    <h1 class = "title">PLATINUM INCORPORATED</h1>
                    <div>
                        <p>Under the supervision of Professor Jim Crowley at Marist College, Platinum Incorporated is a four-person run company maintaining and overseeing Crusine operations. Given a prompt to assess the current world climate and recourring issues of everyday college students, Platinum came together to create Crusine in hopes of providing more awareness and encourage individuals to pursue a healthier dining lifestyle. Starting from a conceptual idea, we are currently building Crusine's website from scratch to ensure that our idea works the way we envisioned it. Employees are as follows:
                        </p>
                        <ul>
                            <li>Melissa Aguilar</li>
                            <li>Erin Alvarico</li>
                            <li>Elizabeth Bellissimo</li>
                            <li>Colin MacDonald</li>
                        </ul>
                    </div>
                </div>
            </div>
    </body>
</html>