<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../public/css/global.css">
	<link rel="stylesheet" type="text/css" href="../public/css/checkout.css">
	<script src="../public/js/global.js"></script>
	<script src="../public/js/checkout.js"></script>
	<script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>

	<title>Order</title>
</head>
<body>
	<a href="#home"><h1 id="logo"><i class="fas fa-car-side"></i>Cruisine</h1></a>
	<div class="nav_menu" id="navMenu" name="nM">
	  <a href="#browse" class="active"><b>START SHOPPING</b></a>
	  <a href="#about">About</a>
	  <a href="#faq">FAQ</a>
	  <a href="javascript:void(0);" class="compass" id="compass">
	  	<i class="far fa-compass"></i>
	  </a>
	</div>

	<!-- EVERYTHING BELOW THIS LINE IS NOT UNIVERSAL AND IS CONTENT FOR CHECKOUT!!!! -->
	<div id="co_content">
		<h1 id="co_header"><i class="fas fa-dolly"></i> CHECKOUT</h1>
		 <div align="center" id="centerpiece">
		  	<form>
			  <label for="fname">First name:</label>
			  <input type="text" id="fname" name="fname"><br>
			  <label for="lname">Last name:</label>
			  <input type="text" id="lname" name="lname">
			</form>
		</div>
	</div>
	
</body>
</html>