<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name=" viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <title>FAQ</title>
    <!-- Icons styling-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!--CSS files-->
    <link rel="stylesheet" type="text/css" href="../public/css/global.css">
	<link rel="stylesheet" type="text/css" href="../public/css/faq.css">

    <!--JS files-->
	<script src="../public/js/global.js"></script>
	<script src="../public/js/checkout.js"></script>

    <!--Fonts-->
	<script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>

    <title>FAQ</title>
</head>
<body>
    <!-- Logo + Login -->
	<div class="logoDiv">
		<div class="logoItem">
			<a href="../views/home.html">
				<h1 id="logo"><i class="fas fa-car-side"></i>Cruisine</h1>
			</a>
		</div>
		<div class="logoItem">
			<a href="#login" id="signin">SIGN IN</a>
			<h5 id="signup_header">New to Cruisine?</h5>
			<a href="#signup" id="signup">SIGN UP</a>
		</div>
	</div>
	
	<div class="nav_menu" id="navMenu" name="nM">
		<a href="../views/product.html"><b>START SHOPPING</b></a>
		<a href="../views/about.html">ABOUT</a>
		<a href="../views/faq.html" class="active"><b>FAQ</b></a>
		<a href="../views/checkout.html" id="cart"><i class="fas fa-shopping-cart"></i></a>
		<a href="javascript:void(0);" class="compass" id="compass">
			<i class="far fa-compass"></i>
	  </a>
	</div>

	<!--FAQ Header-->
	<div id="co_content">
		<h1 id="co_header"><i class="far fa-question-circle"></i> Frequently Asked Questions</h1>
			<div align="center">
			</div>
	</div>

    <!--FAQ Content-->
    <section>
        <div class="container">
            <div class="faq-accordion">

                <!--Question 1 Content-->
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        What is Cruisine?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                        Cruisine is the best online delivery service where users can log-in and build a shopping cart of items available from any of our partner stores in their local area.
                        </p>
                    </div>
                </div>

                <!--Question 2 Content-->
                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        What is Required of the User to Use Cruisine?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                        Crusine is meant to be as easy-to-use as possible, in which we had decided to simplify the information needed to place an order whilst accounting for the safety of our workers and users. Users will be asked to sign-up once utilizing:
                        <ul>
                            <li> An Email (Verification Required)</li>
                            <li> Full Name</li>
                            <li> Password</li>
                            <li> Address (Required if the User has Location Services Turned Off)</li>
                        </ul>
                        </p>
                    </div>
                </div>

                <!--Question 3 Content-->
                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        How Do I Place an Order?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                        Crusine pulls up stores near the user (Utilizing either Location Services, an Address, or Search for Store) and they can place an order with the items available. Orders may be placed with only one store at a time. The users can alternatively search for a certain product and find a store that provides it. From selecting that product, they are now locked to shopping within the contents of that store.
                        </p>
                        <p>
                        Once the user has found all the items that they desire, they can checkout. If customizations are enabled, the following fields will be filled with the user's preferred information, but can be changed:
                        <ul>
                            <li> Address (Campus and Building)</li>
                            <li> Preferred Time Window to Deliver</li>
                            <li> Payment Type (Credit/Debit, PayPal, Etc.)</li>
                            <li> Overview</li>
                            <li> Confirmation - Estimated Time of Arrival (Preparations and Updates in Real-Time)</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!--Question 4 Content-->
                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        Who are the founders of Cruisine?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                        Cruisine Founders: (TEAM PLATINUM) Colin MacDonald, Erin Alvarico, Elizabeth Bellissimo, Melissa Aguilar
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>