<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../public/css/global.css">
	<link rel="stylesheet" type="text/css" href="../public/css/home.css">
	<script src="../public/js/global.js"></script>
	<script src="../public/js/home.js"></script>
	<script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>

	<title>Cruisine Home</title>
</head>
<body>
	<div class="logoDiv">
		<div class="logoItem">
			<a href="../views/home.html">
				<h1 id="logo"><i class="fas fa-car-side"></i>Cruisine</h1>
			</a>
		</div>
		<div class="logoItem">
			<a href="#login" id="signin">SIGN IN</a>
			<p id="signup_header">New to Cruisine?</p>
			<a href="#signup" id="signup">SIGN UP</a>
		</div>
	</div>
	<div class="nav_menu" id="navMenu" name="nM">
	  <a href="../views/product.html"><b>START SHOPPING</b></a>
	  <a href="../views/about.html">ABOUT</a>
	  <a href="../views/faq.html">FAQ</a>
	  <a href="javascript:void(0);" class="compass" id="compass">
	  	<i class="far fa-compass"></i>
	  </a>
	</div>

	<!-- EVERYTHING BELOW THIS LINE IS NOT UNIVERSAL AND IS CONTENT FOR HOME!!!! -->
	<div id="hm_content">
		<div id="hm_item">
			<h1 id="hm_header"><i class="fas fa-utensils"></i> Welcome to CRUISINE!</h1>
		</div>
		<div id="hm_item"></div>
		<div align="center" class="centerpiece" id="hm_item">
		  	<h4 id="del_hdr">Food at your Fingertips <i class="fas fa-pizza-slice"></i></h4>
		  	<p>Groceries You Need,</p>
		  	<p>Delivered When You Want!</p>
		  	<label for="zip" id="browselab">Type in a ZIP to get started:</label><br>
			<input type="text" id="zip" name="zip"><br>
			<a href="../views/product.html" class="thm_button">BROWSE</a>
		</div>
		<div id="hm_item">
			<img class="homeslide" src="../public/img/sydney-rae-grocery-unsplash.jpg">
			<img class="homeslide" src="../public/img/thomas-mauch-grocery-unsplash.jpg">
			<img class="homeslide" src="../public/img/stefano-alemani-grocery-unsplash.jpg">
		</div>
			
	</div>
	
</body>
</html>