<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" type="text/css" href="../public/css/global.css">
	<link rel="stylesheet" type="text/css" href="../public/css/home.css">
	<script src="../public/js/global.js"></script>
	<!-- <script src="../public/js/home.js"></script> -->
	<script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>

	<title>Cruisine Home</title>
</head>

<body>

	<!-- Logo + Login -->
	<div class="logoDiv">
		<div class="logoItem">
			<a href="../views/home.html">
				<h1 id="logo"><i class="fas fa-car-side"></i>Cruisine</h1>
			</a>
		</div>
		<div class="logoItem">
			<a href="#login" id="signin">SIGN IN</a>
			<h5 id="signup_header">New to Cruisine?</h5>
			<a href="#signup" id="signup">SIGN UP</a>
		</div>
	</div>

	<!-- Nav Menu -->
	<div class="nav_menu" id="navMenu" name="nM">
		<a href="../views/product.html"><b>START SHOPPING</b></a>
		<a href="../views/about.html">ABOUT</a>
		<a href="../views/faq.html">FAQ</a>
		<a href="../views/checkout.html" id="cart"><i class="fas fa-shopping-cart"></i></a>
		<a href="javascript:void(0);" class="compass" id="compass">
			<i class="far fa-compass"></i>
		</a>
	</div>

	<!-- EVERYTHING BELOW THIS LINE IS NOT UNIVERSAL AND IS CONTENT FOR HOME!!!! -->
	<div id="hm_content">
		<div id="hm_item">
			<h1 id="hm_header"><i class="fas fa-utensils"></i> Welcome to CRUISINE!</h1>
		</div>

		<br>
		<h2>Start shopping now</h2>
		<br>

		<div id="homeItems"></div>

	</div>

	<!-- Load React. -->
	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

	<!-- Load our React component. -->
	<!-- <div id="addToCart"></div> -->

	<!-- This is required to use JSX -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>




	<script type="text/babel">
		function Image(props) {
			return (
				<img
					className="Image"
					src={props.itemInfo.imageUrl}
					alt={props.itemInfo.name}
					width = "100px"
				/>
			);
		}

		function Title(props) {
			return (
				<div className="Title">
					<Image itemInfo={props.itemInfo} />
					<div className="Title-name">{props.itemInfo.name}</div>
				</div>
			);
		}

		function Item(props) {
			return (
				<div className="Item">
					<Title itemInfo={props.item} />
					<div className="Item-text">{props.text}</div>
					<button>Add to Cart</button>
				</div>
			);
		}

		const apple = {
			text: '$1.99/lb',
			item: {
				name: 'Apple',
				imageUrl: 'https://i5.peapod.com/c/SO/SOV9U.jpg',
			},
		};
		const banana = {
			text: '$0.74/lb',
			item: {
				name: 'Banana',
				imageUrl: 'https://i5.peapod.com/c/7N/7N2G6.jpg',
			},
		};
		const eggs = {
			text: '$3.99',
			item: {
				name: 'Eggs',
				imageUrl: 'https://i5.peapod.com/c/P8/P8JJ8.jpg',
			},
		};
		const cheese = {
			text: '$5.50',
			item: {
				name: 'Cheese',
				imageUrl: 'https://i5.peapod.com/c/LK/LKQ0B.jpg',
			},
		};
		const potatoes = {
			text: '$1.00',
			item: {
				name: 'Potatoes',
				imageUrl: 'https://i5.peapod.com/c/BX/BXCQV.jpg',
			},
		};
		const peppers = {
			text: '$1.66',
			item: {
				name: 'Peppers',
				imageUrl: 'https://i5.peapod.com/c/3T/3TXBE.jpg',
			},
		};
		const mustard = {
			text: '$1.89',
			item: {
				name: 'Mustard',
				imageUrl: 'https://i5.peapod.com/c/FH/FH4VM.png',
			},
		};
		ReactDOM.render(
			<div id='theHomeItems'>
				<Item
					item={apple.item}	
					text={apple.text}
				/>
				<Item
					item={banana.item}	
					text={banana.text}
				/>
				<Item
					item={eggs.item}	
					text={eggs.text}
				/>
				<Item
					item={cheese.item}	
					text={cheese.text}
				/>
				<Item
					item={potatoes.item}	
					text={potatoes.text}
				/>
				<Item
					item={peppers.item}	
					text={peppers.text}
				/>
				<Item
					item={mustard.item}	
					text={mustard.text}
				/>
				
				
			</div>,
			document.getElementById('homeItems')
		);
	</script>

	<script src="../public/js/home-react.js"></script>

</body>

</html>