<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/product.css">
</head>

<body>
    <header>
        <h1>header</h1>
    </header>
    <main>
        <div>
            <img src="../public/assets/product-placeholder.png" alt="Product image">
            <form>
                <label>Quantity:</label>
                <input type="number" value="1"></input>
                <button>Add to cart</button>
            </form>
        </div>
        <div>
            <h2>Product Name</h2>
            <p>Words go here</p>
        </div>
    </main>

</body>

</html>