<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/product.css">
</head>

<body>
    <header>
        <div class="logoDiv">
            <div class="logoItem">
                <a href="../views/home.html">
                    <h1 id="logo"><i class="fas fa-car-side"></i>Cruisine</h1>
                </a>
            </div>
            <div class="logoItem">
                <a href="#login" id="signin">SIGN IN</a>
                <p id="signup_header">New to Cruisine?</p>
                <a href="#signup" id="signup">SIGN UP</a>
            </div>
        </div>
        <div class="nav_menu" id="navMenu" name="nM">
            <a href="../views/product.html"><b>START SHOPPING</b></a>
            <a href="../views/about.html">About</a>
            <a href="../views/faq.html">FAQ</a>
            <a href="../views/checkout.html" id="cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="javascript:void(0);" class="compass" id="compass">
                <i class="far fa-compass"></i>
            </a>
        </div>
    </header>
    <main>
        <div id="first">
            <img src="../public/img/product-placeholder.png" alt="Product image">
            <p style="align-self: center;">$1.89</p>
            <form>
                <label>Quantity:</label>
                <input type="number" value="1"></input>
                <button>Add to cart</button>
            </form>
        </div>
        <div id="second">
            <h2>Product Name</h2>
            <p>Product description. Sit rerum beatae nihil. Fugiat qui sit voluptatem. Temporibus est non sit impedit
                neque nihil ut.

                Error repellendus et suscipit perferendis eos ipsam eveniet modi. Pariatur voluptatem ab aut quam aut
                eum. Possimus ratione quo dolor excepturi praesentium esse molestias ex.

                Veritatis debitis consequuntur ipsa in fugit qui. In animi illum consequatur numquam ut ut facilis
                molestiae. Non doloremque eligendi eum repellat expedita. Fugiat enim exercitationem dignissimos et. Qui
                cum recusandae ut.</p>
        </div>
        <div id="third">
            <h2>Related items</h2>
            <img src="../public/img/product-placeholder.png" alt="Product image">
            <p>Item1</p>
            <img src="../public/img/product-placeholder.png" alt="Product image">
            <p>Item2</p>
            <img src="../public/img/product-placeholder.png" alt="Product image">
            <p>Item3</p>
        </div>
    </main>

    <script src="../public/js/global.js"></script>
    <script src="https://kit.fontawesome.com/d68c554dc2.js" crossorigin="anonymous"></script>
</body>

</html>