@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

#centerpiece{
	background-color: white;
	border-style: outset;
	border-color: black;
	display: inline-flex;
	font-size: 24px;
	font-family: arial;
	height:auto;
	line-height: 150%;
	padding: 30px;
	text-align: center;
	width: auto;

}
#co_content{
	margin-left: 30px;
	margin-right: 30px;
}
#co_header{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 38px;
}
