@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

#centerpiece{
	background-color: white;
	border-style: outset;
	border-color: black;
	display: inline-block;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	height:auto;
	padding: 30px;
	text-align: left;
	width: auto;
}

#co_content{
	margin-left: 30px;
	margin-right: 30px;
}

#co_header{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 38px;
}

#del_hdr{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 22px;
}

#smol_help{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 14px;
}