@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.Item{
	background: white;
	border: solid;
	padding: 20px;
	margin: 30px;
}

#theHomeItems{
	display: flex;
	flex-direction: row;
}

.homeslide {
	display:none;
	max-width: 100%;
    height: auto;
}

.slidecred {
	display:none;
	font-size: 10px;
}

.centerpiece{
	background-color: white;
	border-style: outset;
	border-color: black;
    display: inline-block;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	height:auto;
	text-align: left;
	width: auto;
}

#hm_content{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  padding: 10px;
}

#hm_header{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 42px;
}

#hm_item{
  padding: 20px;
  text-align: center;
}

#browselab{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 14px;
}

#del_hdr{
	font-family: 'Rubik', sans-serif; 
	color: #5350C2;
	font-size: 22px;
}