header {
  margin-bottom: 20px;
}

header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  display: flex;
  gap: 3rem;
}

main div {
  display: flex;
  flex-direction: column;
}

#left {
  flex-shrink: 22;
}

img {
  max-width: 100%;
  height: auto;
}

#right {
  flex-grow: 2;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

form > button {
  flex-grow: 2;
}

form > input {
  max-width: 20%;
  height: auto;
}
